{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div id="main" class="product-list">
        {% if search %}
        <h1>搜索结果</h1>
        {% for product in search %}
            <div class="item">
                {% thumbnail product.image "500x500" crop="100%"  as pi %}
                <a href="{{ product.get_absolute_url }}">
{#                    <img src="{% if product.image %}{{ product.image.url }}#}
{#                    {% else %}{% static "img/no_image.png" %}{% endif %}">#}
                    <img src="{% if pi %}{{ pi.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="image-list" >
                </a>
                {% endthumbnail %}
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ￥:{{ product.price }}
            </div>
        {% endfor %}
        {% else %}
            <h1>没有相关结果</h1>
        {% endif %}
    </div>
{% endblock %}